@model WareHouse_WebApp.Models.GoodsReceipt

@{
    ViewData["Title"] = "Create";
}
@{
    ViewData["Title"] = "Create";
    var lastItem = TempData["GoodsReceiptId"];
    string GoodsReceiptId = "GR01";
    if (lastItem != null)
    {
        GoodsReceiptId = TempData["GoodsReceiptId"].ToString();
        string numberPart = GoodsReceiptId.Substring(2);
        if (int.TryParse(numberPart, out int number))
        {
            number++;
            GoodsReceiptId = $"GR{number:D2}";
        }
    }
}
<header>
    <style>
        .title {
            display: flex;
            justify-content: center; /* Căn giữa theo chiều ngang */
        }
    </style>
</header>

<h1 class="title">TẠO PHIẾU NHẬP HÀNG</h1>
<hr />
<div class="row title">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="GoodsReceiptId" class="control-label">Mã phiếu</label>
                <input asp-for="GoodsReceiptId" class="form-control" value="@GoodsReceiptId" readonly/>
                <span asp-validation-for="GoodsReceiptId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ProductId" class="control-label">Mã sản phẩm</label>
                <input asp-for="ProductId" class="form-control" value="@TempData["productId"]" readonly/>
                <span asp-validation-for="ProductId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Status" class="control-label">Trạng thái</label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
@*             <div class="form-group">
                <label asp-for="DateOfCreation" class="control-label"></label>
                <input asp-for="DateOfCreation" class="form-control" />
                <span asp-validation-for="DateOfCreation" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="TotalAmount" class="control-label">Tổng giá</label>
                <input asp-for="TotalAmount" class="form-control" />
                <span asp-validation-for="TotalAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Discount" class="control-label">Tiền giảm</label>
                <input asp-for="Discount" class="form-control" />
                <span asp-validation-for="Discount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AmountPaid" class="control-label">Phải trả</label>
                <input asp-for="AmountPaid" class="form-control" />
                <span asp-validation-for="AmountPaid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AmountOwed" class="control-label">Đã thanh toán</label>
                <input asp-for="AmountOwed" class="form-control" />
                <span asp-validation-for="AmountOwed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PayMethod" class="control-label">Phương thức TT</label>
                <input asp-for="PayMethod" class="form-control" />
                <span asp-validation-for="PayMethod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeId" class="control-label">Mã nhân viên</label>
                <input asp-for="EmployeeId" class="form-control" />
                <span asp-validation-for="EmployeeId" class="text-danger"></span>
            </div>            
            <div class="form-group">
                <label asp-for="ManufacturerId" class="control-label">Mã nhà cung cấp</label>
                <input asp-for="ManufacturerId" class="form-control" />
                <span asp-validation-for="ManufacturerId" class="text-danger"></span>
            </div>
            <div class="form-group title">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            <div class="title">
                <a asp-action="Index">DANH SÁCH PHIẾU</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
