@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Tên sản phẩm</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="Nhập tên sản phẩm">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Số lượng</label>
        <input type="number" class="form-control">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Giá vốn</label>
        <input type="text" class="form-control">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Danh mục</label>
        <input type="text" class="form-control">
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Mã sản phẩm</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>