@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h4>VIET COMPONENT TẠM Ở ĐÂY FEN</h4>
<h4>cai nay cho trang san phẩm</h4>
<table class="table table-bordered">
    <thead>
        <tr>
            <th class="col-1" scope="col">#</th>
            <th class="col-2" scope="col">Tên sản phẩm</th>
            <th class="col-1" scope="col">Mã sản phẩm</th>
            <th class="col-1" scope="col">SL</th>
            <th class="col-2" scope="col">Giá bán</th>
            <th class="col-2" scope="col">Loại sản phẩm</th>
            <th class="col-3" scope="col">Nhà sản xuất</th>
            <th class="col-2" scope="col">Chỉnh sửa</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>Otto</td>
            <td>Otto</td>
            <td>Otto</td>
            <td>Otto</td>
            <td>Otto</td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>Otto</td>
            <td>Otto</td>
            <td>Otto</td>
            <td>Otto</td>
            <td>Otto</td>

        </tr>
        <tr>
            <th scope="row">1</th>
            <td colspan="1">Larry the Bird</td>
            <td>Otto</td>
            <td>Otto</td>
            <td>Otto</td>
            <td>Otto</td>
            <td>Otto</td>
            <td>Otto</td>
        </tr>
    </tbody>
</table>