@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">
            <li class="text-center">
                <img src="/assets/img/find_user.png" class="user-image img-responsive" />
            </li>


            <li>
                <a class="active-menu" href="index.html"><i class="fa fa-dashboard fa-3x"></i> TỔNG QUAN</a>
            </li>
            <li>
                <a href="ui.html"><i class="fa fa-desktop fa-3x"></i> Sản Phẩm</a>
            </li>
            <li>
                <a href="tab-panel.html"><i class="fa fa-qrcode fa-3x"></i> Nhập Kho</a>
            </li>
            <li>
                <a href="chart.html"><i class="fa fa-bar-chart-o fa-3x"></i> Xuất Kho</a>
            </li>
            <li>
                <a href="table.html"><i class="fa fa-table fa-3x"></i> Khách hàng</a>
            </li>
            <li>
                <a href="@Url.Action("")"><i class="fa fa-edit fa-3x"></i> Tạo Phiếu </a>
            </li>

        </ul>

    </div>

</nav>